.card {
  margin: 3px;
  border: 2px solid black;
  border-radius: 5%;
}
.selected {
  border: 2px solid yellow;
}
.card:hover {
  border: 2px solid yellow;
}

.red {
  color:red
}

.green {
  color:green
}

h3 {
  display: inline-block
}
